* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}
